body,
html {
    font-family: 'Montserrat', sans-serif;
}

.nav-head {
    position: absolute;
    width: 100%;
    padding-top: 25px;
    z-index: 99;
}

.ticket-change {
    font-size: 15px;
    color: #3b1d82 !important;
}

.font-change {
    font-size: 18px;
    color: #ffffff !important;
}

.set-bg {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.hero-section {
    height: 835px;
    overflow: hidden;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}

.hero-rocket {
    position: absolute;
    bottom: 8px;
    right: -198px;
}

.rocket-img {
    position: relative;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: rocket;
}

.head-paragraph {
    color: #8e8e8e;
    font-size: 17px;
}

.head-title {
    color: #1c1c1c;
    font-size: 48px;
}

.feature-item .ft-icon {
    width: 87px;
    height: 87px;
    background: #eb2b63;
    font-size: 43px;
    border-radius: 50%;
    margin-bottom: 40px;
}

.icon-text-p {
    color: #585858;
    font-size: 16px;
    line-height: 27px;
}

.icon-text-h4 {
    color: #1c1c1c;
    font-size: 30px;
}

.feature-bg {
    background-image: url(../images/domain-bg.jpg);
    background-size: cover;
    background-position: center;
}

.domain-form-warp {
    max-width: 993px;
    margin: 0 auto;
}

.domain-search-form {
    margin-bottom: 15px;
}

.domain-search-form input {
    width: calc(100% - 240px);
    height: 59px;
    font-size: 14px;
    background: #fff;
    border-radius: 14px;
    padding: 0 50px;
    margin-right: 5px;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.domain-search-form .site-btn {
    height: 59px;
    min-width: 229px;
}

.domain-form-warp p {
    font-size: 14px;
    opacity: .26;
    line-height: 1;
}

.client-paragraph {
    color: #585858;
    background-color: #eef6f9;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
}

.client-color {
    color: #eb2b63;
}

.client-img {
    height: 110px;
    width: 140px;
    border-radius: 50%;
}

.user-name {
    font-size: 16px;
    line-height: 24px;
}

.single-progress-item p {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 12px;
}

.single-progress-item .progress-bar-style {
    height: 8px;
    background: #eef6f9;
    border-radius: 15px;
}

.single-progress-item .progress-bar-style .bar-inner {
    border-radius: 15px;
    background: #732beb;
}

.single-progress-item .progress-bar-style .bar-inner span {
    bottom: 100%;
    right: 0;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 12px;
}

.pricing-plan {
    margin-bottom: 40px;
}

.pricing-plan .pricing-title {
    text-align: center;
    padding: 16px;
    border-radius: 14px;
    margin-bottom: 15px;
    background: #7246b3;
    background: linear-gradient(to right, #7246b3 0%, #431483 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7246b3', endColorstr='#431483', GradientType=1);
}

.pricing-plan .pricing-title h4 {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.pricing-body {
    background-color: #eef6f9;
    border-radius: 14px;
    z-index: 3;
}

.price-item-list {
    color: #585858;
    font-size: 18px;
    line-height: 50px;
}

.price-dollar {
    font-size: 70px;
}

.price-dollar span {
    color: #585858;
    font-size: 16px;
}

.pricing-plan.gold-plan .pricing-body {
    box-shadow: inset 0 0 0 2px #eb2b63, 0 32px 43px rgba(0, 0, 0, .35);
    z-index: 5;
}

.pricing-plan.gold-plan .pricing-title {
    background: #eb2b63;
}

.pricing-plan .pricing-body .site-btn {
    width: 100%;
    padding: 22px;
    line-height: 1.1;
}

.site-btn {
    border: none;
    font-size: 14px;
    font-weight: 400;
    min-width: 186px;
    padding: 17px 25px;
    border-radius: 14px;
    background: #eb2b63;
    line-height: 1;
    cursor: pointer;
}

.bg-comp {
    background-image: url(../images/banner-bg.jpg);
    background-size: cover;
    background-position: center;
}

.host-text {
    font-size: 30px;
}

.host-paragraph {
    font-size: 15px;
    opacity: .40;
}

.ft-top {
    background-color: #200545;
}

.social a {
    width: 32px;
    height: 32px;
    background: #491f70;
    border-radius: 50%;
    margin-right: 13px;
    font-size: 12px;
    transition: all .4s;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}

.link-text {
    font-size: 15px;
    opacity: .25;
    line-height: 15px;
}

.ft-paragraph {
    font-size: 15px;
    opacity: .25;
    line-height: 26px;
}

.hosting-list ul li {
    line-height: 40px;
}

@keyframes rocket {
    0% {
        left: 20px;
        bottom: 20px;
    }
    25% {
        left: -20px;
        bottom: 20px;
    }
    50% {
        left: -20px;
        bottom: 0px;
    }
    75% {
        left: 0px;
        bottom: 0px;
    }
    100% {
        left: 20px;
        bottom: 20px;
    }
}

.offer-txt {
    font-size: 90px;
}

.offer-paragraph {
    font-size: 19px;
    line-height: 30px;
}

.btn-plan {
    background-color: #eb2b63;
}

@media screen and (min-width: 1025px) and (max-width: 2560px) {
    .feature-item.fi-center-top .ft-icon {
        transform-origin: bottom center;
        transform: scale(1.65);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .feature-item.fi-center-top .ft-icon {
        transform-origin: bottom center;
        transform: scale(1.65);
    }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
    .font-change {
        font-size: 15px;
    }
    .offer-txt {
        font-size: 40px;
    }
    .offer-paragraph {
        font-size: 17px;
    }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
    .brand {
        padding: 20px;
    }
    .navbar {
        padding: 0 !important;
    }
    .navbar-collapse {
        background-color: #ffffff;
    }
    .font-change {
        color: #000000 !important;
    }
    .hameburger-white {
        color: white !important;
        font-size: 30px;
    }
    .brand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-head {
        padding-top: 0px;
    }
    .offer-txt {
        font-size: 40px;
    }
    .offer-paragraph {
        font-size: 17px;
    }
    .head-title {
        font-size: 38px;
    }
    .domain-search-form input {
        width: calc(100% - 30px);
    }
    .domain-form-warp p {
        font-size: 13px;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .brand {
        padding: 20px;
    }
    .navbar {
        padding: 0 !important;
    }
    .navbar-collapse {
        background-color: #ffffff;
    }
    .font-change {
        color: #000000 !important;
    }
    .hameburger-white {
        color: white !important;
        font-size: 30px;
    }
    .brand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-head {
        padding-top: 0px;
    }
    .offer-txt {
        font-size: 30px;
    }
    .offer-paragraph {
        font-size: 17px;
    }
    .head-title {
        font-size: 33px;
    }
    .domain-search-form input {
        width: calc(100% - 10px);
    }
    .site-btn {
        min-width: 166px;
        padding: 14px 20px;
    }
    .domain-form-warp p {
        font-size: 12px;
    }
}

@media screen and (max-width: 319px) {}